.calc {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: skyblue;
    padding: 20;
    border: black 1px solid;
}

.row-digits {
    display: inline;
}

.third-row .row-operations {
    display: inline;
    margin-right: 48px;
}

.fourth-row .row-operations {
    display: inline;
    margin-right: 48px;
}

.row-operations {
    display: inline;
    max-width: 150px;
}

.operation-button {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    display: inline-block;
}

.digit-button {
    height: 40px;
    width: 40px;
    display: inline-block;
}

.inputs-block label {
    display: block;
}

.inputs-block .input-block {
    display: inline-block;
    padding: 5px;
}

.clean-button {
    height: 40px;
    width: 40px;
}

.header {
    color: tomato;
}

.digits {
    padding: 5px;
    width: auto;
    border: 2px tomato solid;
}

.digit {
    display: inline-block;
    margin: 5px;
}

.button-zero {
    height: 40px;
    width: 150px;
    display: inline-block;
}

.console {
    width: 200px;
}

.second-colomn-operation {
    margin-right: 10px;
}

.left-digit {
    margin-left: 56px;
}